<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647198654272-cbhiaok0eub74vhri0cr5hqgnaqapp79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647198654272-cbhiaok0eub74vhri0cr5hqgnaqapp79</string>
	<key>API_KEY</key>
	<string>AIzaSyDuloOh2_Y1mxbi6s6VcucxO3S23jU2Ap0</string>
	<key>GCM_SENDER_ID</key>
	<string>647198654272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PT.LiberteProject</string>
	<key>PROJECT_ID</key>
	<string>liberteproject-621b3</string>
	<key>STORAGE_BUCKET</key>
	<string>liberteproject-621b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647198654272:ios:fedbbc6d797764baa344a5</string>
	<key>DATABASE_URL</key>
	<string>https://liberteproject-621b3.firebaseio.com</string>
</dict>
</plist>